.navbar{
background: transparent !important;
z-index: 6;
font-size: 85%;
}
.carouselitem {
  height:32rem;
  background: #777;
  color:white;
  position: relative;
  width:80vw;
}
.container
{
  color:white;
  padding-bottom: 50px;
  z-index: 3 !important;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content: center;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.bx-wrapper{
  position: relative;
  margin: auto;
  padding: 0;
  *zoom: 1;
  z-index: 0;
}

.App {
  text-align: center;
}
.componentBox{
  margin: 2%;
  margin-left: 2%;
background-color: #152738;


transition: all .3s ease-in-out; 
box-shadow: 5px 5px 4px slategray ;
 max-width: 460px;
 border-radius: 5%;
}

.componentBox2{
  transition: all .3s ease-in-out; 
  margin: 3%;
  background: rgb(2, 18, 61);
background: linear-gradient(to right bottom, 
rgba(2, 18, 61, 1.7),
rgba(255, 255, 255, 0.3)
);

box-shadow: 5px 5px 4px slategray ;
 max-width: 410px;
 border-radius: 5%;

 overflow: hidden;
}

.componentBox3{
  transition: all .3s ease-in-out;  

 max-width: 410px;

 overflow: hidden;
}

.resumecomponents{

   text-align: center; 
   line-height: 2.2;
  font-size: .9rem;
  color: seashell;
}
.resumecomponents{

   text-align: center; 
   line-height: 2;
  font-size: .9rem;
  color: seashell;
}


.componentBox:hover { 
  transform: scale(1.02); 
  }

  .componentBox2:hover { 
    transform: scale(1.02); 
    }

    .componentBox3:hover { 
      transform: scale(1.05); 
      }

.componentBoxB{
  display:flex;
  flex-direction:row;
 
  }

  .componentBoxC{
    flex: 50%;
    }
    .componentBoxD{
      flex: 10%;
      }
/* .col{
padding: 0px;

} */


.imgstyle {
  cursor: default;
  position: relative;
  /* background-position: 50% calc(50% + 0px); width:70vw; */
height:80vh;
  max-height: 970px;
  background-attachment: scroll;
  width:100vw;
opacity:.8;
}

.textsize{
  font-size: min(.3rem, .5rem);
  font-size: max(.5rem, .9rem);
  
@media screen and (min-width: 1200px);
}
 .img {
  background-color:transparent;
}

.imgLanding {
  cursor: default;
  position: relative;
  /* background-position: 50% calc(50% + 0px); width:70vw; */
height:38rem;
  max-height: 750px;
  background-attachment: scroll;
  width:75vw;
  max-width:90vw;
}

.box{
  height:180px;
  width:210px;
  box-shadow: 10px 5px 5px slategray ;
  background-color: #152738;

  display: inline-block;
 color:seashell;
 margin-right: 10%;
 margin: auto;
}

.dynamic{
    text-align: center;
    padding-top: 4rem!important;
    width:75%;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}
.bcolor{
    background-color: #152738;
}

.hexagon
{
display:flex;
	width: 1.2em;
	height: 1.2em;
	background: #0f0;;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

}

.App-header {
  background-color: #212529;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Lato","sans-serif";
  line-height: 1.8;
  font-size: 1.5rem;
  color: #737373;
}

.App-link {
  color: powderblue; 
text-align: center;
font-size:1.8rem;

}

.item2{
  color:wheat;
  font-size:1rem ;
  
  text-align: center;
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active{
  color:red;
  list-style: none;
  border-radius: 999px;
}

li{
  display:flex;
  justify-content: space-evenly;
  width: 130%;

}


.resumedetails{
  
  color:seashell;

  z-index: 3;
}

span.b {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid blue;    
  background-color: yellow; 
}

  



hr.hrRed{

  max-width: 50%;
  min-width: auto;
  background-image:linear-gradient(to right, rgba(204, 25, 25, 0), rgba(184, 45, 45, 0.75), rgba(0, 0, 0, 0));
    width: 92%;
height: 1px;
    clear:5%;

}

.hrNew{
  
  position:relative;
  left: 23%;
 overflow: hidden;
 }

 .hrEnd{
  overflow: hidden;
  position:relative;
  right: 23%;;
 
 }
 .bgColor{
   background-color: seashell;
   color:black;
   border-radius: 5%;
   
 }

 .fColor{
  color:rgb(28, 230, 21);
  font-size:.9em;
   text-align: center; 
   line-height: 2;;
}

.sticky{
  position: sticky;
  top:0;
  
}

.relative{
  position: relative;
  /* z-index: -1; */
}
.relativeb{
  z-index: 4 !important;
}

.absolute{
  position: absolute;
 
}

.absoluteTop{
  position:absolute;
  top:0;
  z-index: 3;
}
.absoluteLeft{
  position:absolute;
  top:0;
  left:0;
  right:100%;
  
}

.absolutebottom{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
 
width:99.5vw;
}
.absoluteright{
  position:absolute;
  top:10;
  left:0;
  right:0;
 
width:99.5vw;
}


#center { 
 /* margin: auto;    */
  margin-top: 5% ;
  margin-bottom: 50%;
  margin-left: 25%;
  
} 

.center { 
   /*  
  margin-top: 5% ;
  margin-bottom: 50%;
  margin-left: 25%;
  */
  display: block;
  margin-left: auto;
  margin-right: auto;
 
 }
.backdrop{
  background: linear-gradient(to bottom, #060707 0%, #020202, #000000,  rgb(2, 1, 2),  #000000

  100%);
  width: 99.8%;
  height: 100%;
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
/* 
  #000000
  #2A272A
  #4B4A54
  #677381
  #82A0AA
  #A3CFCD
   */
}

.backdropred{
  background: rgb(246, 60, 60)  ;
  z-index: -4;
  width: 99.8%;
  height: 100%;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
/* 
  #000000
  #2A272A
  #4B4A54
  #677381
  #82A0AA
  #A3CFCD
   */
}

.bx-viewport ul {
  padding: 0;
  margin: 0;
  list-style: none;
}



.sidescroll {
  width: 50px;
  position: relative;
   animation: animatedBackground 16s linear infinite;
}

@keyframes animatedBackground {
  from { position: 0 0; }
  to { position: -400px 0; }
}




.colorhover:hover
{
        background:#53a7ea;
}

.growhover:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.threedhover:hover
{
        box-shadow:
                1px 1px #fff,
                2px 2px #fff,
                3px 3px #fff,
                4px 4px #fff;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.rotated {
  animation: rotated 12s infinite linear;
 
}
@keyframes rotated {
 
}

.marginauto{
   margin: auto; 

}
.marginautomod{
  /* margin: auto; */
  top:15%;
  bottom:50%;

  left:40%;
}
.marginautomodB{
  margin: auto;
  /* top:15%;
  bottom:50%;

  left:40%; */
}

.moon{
  /* margin: auto; */
  top:0;
  bottom:70%;
  left:38%;
  position:absolute;
  z-index: 1;
}
.rotate{
  animation: App-logo-spin linear 10s infinite;
}

.hbox
{ 
  overflow: hidden;
	animation: animate linear 4s infinite;
 /* height: 85%; */
}
@keyframes animate
{
	0%
	{
   
		filter: hue-rotate(0deg);
	}
  50%
  {
    
  }
	100%
	{
    
		filter: hue-rotate(360deg) ;
	}
  }

  .block{
    display: block;
  }

  .up {
    animation: MoveUpDown 3.7s ease-in-out infinite;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 17px;
    }
  }

  
.fancy {
  line-height: .8;
  margin-bottom: 5%;
  
  text-align: center;
   display: flex;
  justify-content: center;
  overflow: hidden;
  
}
.fancy span {
  /* display: inline-block; */
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  justify-content: center;
  content: " ";
  position: absolute;
 
  border-bottom: 1px solid red;
  border-top: 1px solid black;
  top: 24px;
  width: 48%;
  /* max-width: 45%; */
  overflow: auto;
  min-width: 1vw;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}